<Bars>
    <Bar>
        <ID>96</ID>
        <Name>Le barman</Name>
        <Position_lon>49.000325</Position_lon>
        <Position_lat>6.325545</Position_lat>
    </Bar>
    <Bar>
        <ID>23</ID>
        <Name>Le libelulle</Name>
        <Position_lon>49.000325</Position_lon>
        <Position_lat>6.325545</Position_lat>
    </Bar>
    <Bar>
        <ID>19</ID>
        <Name>Le Popcorn</Name>
        <Position_lon>49.000325</Position_lon>
        <Position_lat>6.325545</Position_lat>
    </Bar>
    <Bar>
        <ID>58</ID>
        <Name>Le coin</Name>
        <Position_lon>49.000325</Position_lon>
        <Position_lat>6.325545</Position_lat>
    </Bar>
    <Bar>
        <ID>17</ID>
        <Name>Le 17</Name>
        <Position_lon>49.000325</Position_lon>
        <Position_lat>6.325545</Position_lat>
    </Bar>
    <Bar>
        <ID>42</ID>
        <Name>Le supporter</Name>
        <Position_lon>49.000325</Position_lon>
        <Position_lat>6.325545</Position_lat>
    </Bar>
</Bars>