[
   {
      "id":96,
      "name":"Le barman",
      "position_lon":49.000325,
      "position_lat":6.325545
   },
   {
      "id":58,
      "name":"Le Popcorn",
      "position_lon":49.000325,
      "position_lat":6.325545
   },
   {
    "id":42,
    "name":"Le coin",
    "position_lon":49.000325,
    "position_lat":6.325545
 },
 {
    "id":23,
    "name":"Le supporter",
    "position_lon":49.000325,
    "position_lat":6.325545
 },
 {
    "id":17,
    "name":"Le 17",
    "position_lon":49.000325,
    "position_lat":6.325545
 }
]