<Activities>
    <Activity>
        <ID>1</ID>
        <Name>Soirée avec le potos !</Name>
        <StartTime>13/05/22 - 14:58:00</StartTime>
        <EndTime>14/05/22 - 01:23:00</EndTime>
        <UserID>{{id}}</UserID>
    </Activity>
    <Activity>
        <ID>18</ID>
        <Name>Soirée avec le potos !</Name>
        <StartTime>13/05/22 - 14:58:00</StartTime>
        <EndTime>14/05/22 - 01:23:00</EndTime>
        <UserID>{{id}}</UserID>
    </Activity>
    <Activity>
        <ID>3</ID>
        <Name>Soirée avec le potos !</Name>
        <StartTime>13/05/22 - 14:58:00</StartTime>
        <EndTime>14/05/22 - 01:23:00</EndTime>
        <UserID>{{id}}</UserID>
    </Activity>
</Activities>